.footer-container {
    background-color: rgb(32, 32, 32);
    height: 480px;
    margin-top: 120px;
    position: relative;
}

.footer-text {
    margin-top: 80px;
}

.footer-description {
    margin: 30px 0;
}

.social-icon a {
    margin-right: 15px;
}

.copywrite-text {
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0;font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-img {
    margin-top: -77px;
}

.footer-img img:hover {
    transform: scale(.7);
    transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 576px){
    .footer-container {
        height: 660px;
        margin-top: 80px;
    }

    .text-img-div {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-text {
        padding-top: 40px;
        width: 90%;
        margin: 0 auto;
    }

    .footer-img {
        margin-top: -37px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px){
    .footer-container {
        height: 315px;
        margin-top: 60px;
    }

    .footer-text {
        margin-top: 15px;
    }

    .footer-description {
        margin: 10px 0;
    }

    .footer-img {
        margin-top: -24px;
    }
}