.carousel-indicators [data-bs-target]{
    height: 3px;
    width: 40px;
    border-radius: 10px;
    background-color: rgb(249, 128, 18);
}
.carousel-image{
    width: 100%;
}
.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 0%;
    left: 0%;
    top: 0%;
    padding-top: 5%;
    padding-bottom: 1.25rem;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.banner-text {
    padding: 15px 0;
}

.banner .btn a{
    text-decoration: none;
    color: black;
}

.contact-btn {
    border: 1px solid white;
    text-decoration: none;
    padding: 10px 50px;
    text-transform: uppercase;
}

.contact-btn:hover {
    background-color: rgb(249, 128, 18);
    border: none;
    transition: 0.5s;
}

@media only screen and (max-width: 576px){
    .carousel-caption {
        padding-top: 40%;
    }
    .carousel-image{
        width: auto;
        height: 600px;
    }

    .banner-text {
        width: 75%;
        margin: 0 auto;
        padding: 30px 0;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px){
    .banner-text {
        width: 85%;
        margin: 0 auto;
        padding: 10px 0;
    }
}